
h2 {
    margin-top: 0;
    margin-bottom: 2%;
    text-align: center;
    font-size: 2.7vw;
    color: #9B7E65;
}

 button {
  font-family: Georgia, Garamond, Helvetica, Arial;
  padding: 2% 1%;
  font-size: 1.5vw;
  background-color: #6c584cdb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 7cap;
  transition: background-color 0.3s ease;
}  

*{
  font-family:  "Caudex", Georgia, Garamond, Helvetica, Arial;
  
} 

body {
    font-family: Georgia, Garamond, Helvetica, Arial;
    line-height: 1.6;
    background-color: #f5ebe0;
    color: #9B7E65; 
    padding-top: 9.4em; 
    margin: 0em;
}

.theme-dark {
  background-color: #281f16;
}

.theme-dark .reviews-section{
  background-color: #281f16;

}

.theme-dark h2{
  color:white;
}

.theme-dark footer{
  background-color: #1a150e;
}

.theme-dark nav {
  background-color: #1a150edc;
}

.theme-dark button {
  background-color: #281f16;
  color: #ecf0f1;
}

.theme-dark .more-button{
  background-color:#56453a ;

}

.theme-light button {
  background-color: #9B7E65;
  color: white;
}


.theme-toggle:hover {
  color: #3b2f28;
}

.theme-dark .week-date {
  color: #ead6c3;

}

.theme-dark #review1,
.theme-dark #review2,
.theme-dark #review3,
.theme-dark #review4 {
  background-color:#56453a;
}

.theme-dark .review p {
color: white;
}

footer {
    background-color: #6c584c;
    padding: 1%; /* 20px */
    text-align: center;
    color: white;
    margin-top: 6%; /* 50px */
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    
}

footer img {
    vertical-align: middle;
    width: 3vw;
    height: auto;
    margin-right: 0.8%;
}
footer p{
  font-size: 1.3vw;
}

main {
    margin-left: 5%;
    margin-right: 5%;
  
}


.week-date {
  flex-grow: 1;
  font-size: 1.5vw;
  margin-left: 50vw;
  text-align: center;
  color: #56453a;
}


.navbar {
  display: flex; 
  flex-wrap: wrap;
  align-items: center; 
  background-color: #6c584cdb;
  color: white;
  padding: 0.8%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
}


.logo img {
width: 6vw; 
height: auto;
margin-right: 0.7vw; 
}

.navbar h1 {
margin-right: 1.8vw; 
font-size: 2vw;

}

.navbar ul {
display: flex; 
flex-wrap: wrap;
list-style-type: none;
padding: 0;
padding-left: 6vw;
}

.navbar li {
margin: 0 2vw; 
}

.navbar a {
  color: white; 
  text-decoration: none;
  font-size: 1.3vw;
}

.navbar a:hover {
  color: #3b2f28;
}


.vertical-divider {
  margin: 0 10px;
  font-size: 1.2vw;
}

.vertical-line {
    padding: 0 0.2vw;
    color: white; 
    font-weight: bold;
}


.Breadcrumb {
  margin-bottom: 2%;
  text-align: left;
  margin-top: 5vw;
  margin-left: 5%;
}

.Breadcrumb p {
  font-size: 1.6vw;
  color: #9B7E65;
  font-weight:normal;
}

.Breadcrumb a {
  color: #9B7E65;
  text-decoration: none;
}
.theme-dark .Breadcrumb p {
  font-size: 1.6vw;
  color: #ead6c3;
  font-weight:normal;
}

.theme-dark .Breadcrumb a {
  color: #ead6c3;
  text-decoration: none;
}

.Breadcrumb a:hover {
  color: #6c584c;
  text-decoration: underline;
}

p{
  font-size: 1.5vw;
}

h3{
  font-size: 1.8vw;
}
