* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, Garamond, Helvetica, Arial;
    line-height: 1.6;
    background-color: #f5ebe0;
    color: #9B7E65; 
    margin-left: 50px;
    margin-right: 50px;
}

header {
    padding: 0px;
}

.navbar {
    display: flex; 
    align-items: center; 
    background-color: #6c584c;
    color: white;
    padding: 5px; 
    position: fixed; 
     top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

.logo img {
    width: 90px; 
    height: auto;
    margin-right: 10px;
}

.navbar h1 {
    margin-right: 20px; 
}

.navbar ul {
    display: flex; 
    list-style-type: none;
    margin-left: auto; 
}

.navbar li {
    margin: 0 15px; 
}

.navbar a {
    color: white; 
    text-decoration: none;
}


.vision {
    color: black; 
    font-size: 24px; 
    margin-top: 100px; 
    text-align: center;
    width: 100%;
}

.vision-label {
    display: inline-block;
    background-color: #6c584c;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    margin: 50px auto 20px;
    text-align: center;
    width: fit-content;
}

.vision2 {
    color: black;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.vision-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6c584c;
    color: white;
    padding: 40px;
    border-radius: 15px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 200px auto 0 auto; 
    max-width: 80%;
    width: fit-content;
}

.vision-container h2, 
.vision-container p {
    margin: 15px 0;
    color: white;
    font-size: 28px;
}


.offer-section {
    text-align: center;
    margin-top: 50px;
}

.offer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.offer-item {
    position: relative;
    background-color: white;
    color: white;
    padding: 80px 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 0.3s ease; 

}

.offer-item:hover {
    transform: scale(1.05); 
}

.offer-item:hover::before {
    transform: scale(1.05); 
}

.offer-label {
    position: relative;
    z-index: 1;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
    text-shadow: 
    -0.5px -0.5px 0 #000, /* Top left */
     0.5px -0.5px 0 #000, /* Top right */
    -0.5px  0.5px 0 #000, /* Bottom left */
     0.5px  0.5px 0 #000; /* Bottom right */
    
}

.offer-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center;
    border-radius: 10px;
    opacity: 0.709;
    z-index: 0;
    transition: transform 0.3s ease; 

}

.offer-item.offer1::before {
    background-image: url('images/offer1.jpg');
}

.offer-item.offer2::before {
    background-image: url('images/offer2.jpg');
}

.offer-item.offer3::before {
    background-image: url('images/offer3.jpg');
}

.offer-item.offer4::before {
    background-image: url('images/offer4.jpg');
}

.offer-item.offer5::before {
    background-image: url('images/offer5.jpg');
}

.offer-item.offer6::before {
    background-image: url('images/offer6.jpg');
}



.categories-section {
    margin-top: 50px;
    text-align: center;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.category-item {
    position: relative;
    background-color: white;
    color: white;
    padding: 160px;
    text-align: center;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease; 

}

.category-item:hover {
    transform: scale(1.03); 
}

.category-item:hover::before {
    transform: scale(1.03); 
}


.category-label {
    position: relative;
    z-index: 1;
}

.category-label h3 {
    font-size: 24px;
    font-weight: bold;
    color: white; 
}

.category-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%; 
    background-position: center;
    border-radius: 10px;
    z-index: 0;
    opacity: 0.709;
    transition: transform 0.3s ease; 

}

.category-item.category1::before {
    background-image: url('images/clothes.jpg'); 
}

.category-item.category2::before {
    background-image: url('images/artworks.jpg'); 
}

.category-item.category3::before {
    background-image: url('images/Furniture.jpg'); 
}

ul.breadcrumb {
    margin-top: 100px; 
    padding: 10px 16px;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color:  #9B7E65;
    content: ">";
  }
  ul.breadcrumb li a {
    color:  #9B7E65;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color:  #6c584c;
    text-decoration: underline;
  }

  .category-label a{
    color:  white;
    text-decoration: none;
  }

  .category-label a:hover{
    color:  #ccc;
    text-decoration: underline;
   }

    .dashboard-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    
    .seller-info {
        display: flex;
        align-items: center;
    }
    
    .sellericon img {
        width: 150px;
        height: 150px;
        
    }
    
    .seller-name input {
        margin-left: 50px;
        padding: 10px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .actions {
        display: flex;
        flex-direction: column;
    }
    
    .actions button {
        margin-bottom: 10px;
        width: 150px;
        border-radius: 5px;
        padding: 15px 30px; 
        background-color:#9B7E65 ;
        color: white;

    }
    
    .actions button:hover {
        background-color: rgb(177, 174, 174)
    }
    
    h2 {
        margin-bottom: 10px;
    }
    
    .product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    
    .product-card {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        background-color: #f9f9f9;
    }
    
    .product-card .product-image {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }
    
    .product-card p {
        margin-bottom: 5px;
    }
