
/* Cart Page Styles*/

 .theme-dark #CartIsEmpty  {
    color: #f8eee5;

}
#CartIsEmpty {
    font-size: 25px;
    color: #634b2d;
  }
  
table img {
    width: 18vw;
    height: auto;
    border-radius: 3%;
    margin: 0;
    padding: 0;
}
input[type='number']{
    width: 3.8vw;
    font-size: 1.5vw;
    text-align: center; 
    font-family: Georgia, Garamond, Helvetica, Arial;
    color: #9B7E65;
    margin-bottom: 5%;
} 

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 3%;
}


table th,
table td {
    padding: 1.6vw;
    text-align: left;
    font-size: 1.4vw;
}

table th {
    background-color: #9B7E65;
    color: white;
}

.theme-dark table th{
    background-color: #544334;

}

.theme-dark table {
    background-color: #35291f;
    color: #ede0d4;

}


table td{
    padding-top: 5%;
    vertical-align: top;
    
}

table a {
    color: #d9534f;
    text-decoration: none;
}

.theme-dark table a {
    color: #c49896;
    text-decoration: none;
}
table a:hover {
    text-decoration: underline;
}


.order-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    line-height: 0.9vw;
    margin-bottom: 2%;
   
}

.order-summary div {
    background-color: #fff;
    padding: 2%;
    width: 60vw;
    height: 10vw;
    border-radius: 1.4em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1vw;
   
}
.theme-dark .order-summary div {
    background-color: #544334;
    color: #f8eee5;
    padding: 2%;
    width: 60vw;
    height: 10vw;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}



.order-summary button {
    font-family: Georgia, Garamond, Helvetica, Arial;
    padding: 2% 1%;
    width: 30vw;
    height: 4vw;
    font-size: 1.5vw;
    background-color: #9B7E65;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7cap;
    transition: background-color 0.3s ease;
}

.order-summary .buttons {
    background-color: #9b7e6500;
    box-shadow: none;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    
}
.theme-dark .order-summary .buttons {
    background-color: #9b7e6500;
    box-shadow: none;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    
}
.order-summary .buttons strong {
    font-size: 1.8vw; 
}

#Clear {
    background-color: white;
    color: #9B7E65;
    transition:  background-color 0.3s ease;
}

#Checkout{
    margin-bottom: 0.5vw;
   
}

.theme-dark #Clear {
    background-color: #8b5e3497;
    color: white;
    transition:  background-color 0.3s ease;
}

.theme-dark #Checkout{
    margin-bottom: 0.5vw;
    color: white;
   background-color: #8b5e34;
}

 #Clear:hover {
    background-color: #d98b473e;
}
.theme-dark #Clear:hover {
    background-color: #38040e;
}
#Checkout:hover {
    background-color: #CCD5AE;
}
.theme-dark #Checkout:hover {
    background-color: #242f00;
}

.price {
    width: 15%;
}

.productDetails{
    display: flex;
}

.productDetails p{
    margin-left: 6%;
    margin-top: 5%;
}

footer {
    margin-top: 20vw;
}

/* End Of Cart Page Styles*/

/* Customer Page Styles*/

.theme-dark #CustomerBox h3 {
    color: white;
}

#CustomerBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7vw;
    flex-wrap: wrap;
}

#CustomerBox a {
    display: block;
    width: 300px;
    text-align: center;
    text-decoration: none;
}

#CustomerBox h3:hover {
    color: rgba(169, 122, 61, 0.811);
}

#CustomerBox img {
    width: 80%;
    border-radius: 5%;
    transition: transform 0.3s ease;
}

#CustomerBox img:hover {
    transform: scale(1.05);
}

#CustomerBox h3 {
    font-size: 2.2vw;
    margin-top: 1vw;
    color: #6c584c;
}
@media (max-width: 799px) {
    #CustomerBox {
        display: flex;
        justify-content: space-around;
        flex-direction: column;        
    }
    #CustomerBox h3 {
        font-size: 4vw;
    }

    main{
        display:flex ;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin: 1vw 0;
        height: 170%;
        font-size: 0.5em;
        
        position: relative;
        top:12vw;
    }
    .Breadcrumb {   
        display: block;
        position: absolute;
        top: 7em;
    }
    
    
}
/* End Of Customer Page Styles*/

